.designer-container {
  display: flex;
  height: 100%;
  overflow-y: auto;

  .designer-left,
  .designer-center,
  .designer-right {
    box-sizing: border-box;

    .designer-title {
      color: #868282;
      text-align: center;
    }
  }

  .designer-left {
    width: 180px;
    padding: 5px;
  }

  .designer-center {
    flex: 1;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;

    .btn-group {
      text-align: right;
      padding: 5px;
    }

    .designer-mock {
      flex: 1;
      overflow: hidden;
      margin-right: 15px;
      margin-top: -10px;

      .SsPage {
        background-color: white;
      }
    }
  }

  .designer-right {
    width: 200px;
    padding: 5px;
  }
}
